@media screen and  (max-width:1300px) {
    .FAQs{
        padding: 5px 0 5px 110px;
        font-size: 2.1rem;
    }
    .q{
        padding: 0 15px 0 15px;
        height: 70px;
        margin: 5px;
    }
    .q label{

        font-size: 1.6rem;
    }
    .q img{
        height: 70px;
        width: 70px;
    }  
}

@media screen and  (max-width:1280px) {
    .FAQs{
        padding: 5px 0 5px 110px;
        font-size: 2.1rem;
    }
    .q{
        padding: 0 15px 0 15px;
        height: 70px;
        margin: 5px;
    }
    .q label{

        font-size: 1.6rem;
    }
    .q img{
        height: 70px;
        width: 70px;
    }  
}
@media screen and  (max-width:1024px) {
 .FAQs{
        padding: 5px 0 5px 70px;
        font-size: 1.9rem;
    }
    .q{
        padding: 0 15px 0 15px;
        height: 60px;
        margin: 5px;
    }
    .q label{

        font-size: 1.5rem;
    }
    .q img{
        height: 60px;
        width: 60px;
    }  
}

@media screen and (max-width:768px) {
    .FAQs{
        padding: 5px 0 5px 70px;
        font-size: 1.5rem;
    }
    .q{
        padding: 0 15px 0 15px;
        height: 50px;
        margin: 5px;
    }
    .q label{

        font-size: 1.3rem;
    }
    .q img{
        height: 60px;
        width: 60px;
    }  
}

@media screen and (max-width:650px) {
    .FAQs{
        padding: 5px 0 5px 60px;
        font-size: 1.4rem;
    }
    .q{
        padding: 0 15px 0 15px;
        height: 50px;
        margin: 5px;
    }
    .q label{

        font-size: 1.2rem;
    }
    .q img{
        height: 60px;
        width: 60px;
    }     
}

@media screen and (max-width:425px) {
    .FAQs{
        padding: 5px 0 5px 40px;
        font-size: 1.3rem;
    }
    .q{
        padding: 0 15px 0 15px;
        height: 50px;
        margin: 5px;
    }
    .q label{
        font-size: 1.1rem;
    }
    .q img{
        height: 50px;
        width: 50px;
    }     
}

@media screen and (max-width:375px) {
    .FAQs{
        padding: 5px 0 5px 30px;
        font-size: 1.2rem;
    }
    .q{
        padding: 0 15px 0 15px;
        height: 50px;
        margin: 5px;
    }
    .q label{
        font-size: 1rem;
    }
    .q img{
        height: 50px;
        width: 50px;
    }     
}

@media screen and (max-width:320px) {
    .FAQs{
        padding: 5px 0 5px 25px;
        font-size: 1.2rem;
    }
    .q{
        padding: 0 15px 0 15px;
        height: 50px;
        margin: 5px;
    }
    .q label{
        font-size: 1rem;
    }
    .q img{
        height: 50px;
        width: 50px;
    }
}