/* ***************************************************************************** */
* {
    margin: 0%;
    padding: 0%;
    font-family: "PT Sans";
    box-sizing: border-box;
}

/* ***************************************************************************** */
/* ***************************** NAVBAR START ********************************* */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: black;
    color: white;

}

.navbar li {
    display: inline-block;

}

.navbar li img {
    width: 30%;
    height: 50%;
}

/* ***************************** NAVBAR END ********************************* */
/* ***************************** BUTTONS START ********************************* */
.lang {
    font-size: 16px;
    align-content: center;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-weight: 500;
    padding: 5px 15px;
    margin-right: 10px;
    transition: 0.1s ease-in;
}

.lang:hover {
    background-color: white;
    color: black;
    font-weight: 500;
    transition: 0.1s ease-in;
}

.signIn {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 16px;
    font-weight: 900;
    border: none;
    align-items: center;
    transition: 0.1s ease-in;
    padding: 5px 15px 5px 15px;

}

.signIn:hover {
    background-color: rgb(190, 0, 0);
    transition: 0.1s ease-in;
}

/* ***************************** BUTTONS END ********************************* */
/* ***************************** SECTION/MAIN CONTAINER START ************************** */
.sections-container {

    display: grid;
    height: 100px;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "section1"
        "section2"
        "section3"
        "section4"
        "section5"
        "section6";
}

/* ***************************** SECTION/MAIN CONTAINER END ************************** */

/****************************** SECTION 1 START ********************************/
.section1 {
    background: url(./assets/bg-image.jpg);
    color: black;
    grid-area: section1;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
}

.main-heading {
    display: inline-flex;
    width: 800px;
    color: white;
    line-height: 100%;
    font-size: 4.8rem;
    font-weight: 900;
    /* border: 1px solid greenyellow; */
    /* justify-content: center; */
    text-align: center;
    margin: 10px;
}

.lower-heading {
    /* border: 1px solid greenyellow; */
    color: white;
    font-size: 1.3rem;
    font-weight: 200;
    margin: 10px;
}

.more-lower-heading {
    /* margin: 100px; */
    color: white;
    font-size: 1.3rem;
    /* border: 1px solid greenyellow; */
    font-weight: 200;
    margin: 10px;
}

.search-container-div {
    /* border: 1px solid greenyellow; */
    display: flex;
    width: 45%;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.search {
    width: 60%;
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent
}

.search-button {

    background-color: red;
    color: white;
    font-size: 1.8rem;
    /* padding: 10px 40px 10px 40px; */
    width: 35%;
    height: 60px;
    font-weight: 900;
    border: none;
    transition: 0.1s ease-in;

}

.search-button:hover {
    background-color: rgb(190, 0, 0);
    transition: 0.1s ease-in;
}

/****************************** SECTION 1 END ********************************/
/****************************** SECTION 2 START ********************************/
.section2 {
    grid-area: section2;
    background-color: black;
    color: white;
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 0px 100px 20px 100px;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;

}

.reason-head {
    
    border: none;
    /* display: inline-block; */
    padding: 10px 0 10px 120px;
    color: white;
    background-color: black;
    font-weight: 900;
    font-size: 1.8rem;
}

.card1,
.card2,
.card3,
.card4 {
    display: inline-block;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(12, 0, 99), purple);
    border-radius: 20px;
    /* justify-content: space-evenly; */
    /* margin: 10px; */
    padding: 30px;
    height: 350px;
    width: 24%;
}

.card1 h3,
.card2 h3,
.card3 h3,
.card4 h3 {
    /* border: 2px solid red; */
    display: inline-block;
    font-size: 1.6rem;
}

.card1 p,
.card2 p,
.card3 p,
.card4 p {
    margin: 20px 0px 10px 0px;
    font-size: 1.1rem;
}

/****************************** CARD ICONS START ********************************/
.card-logo1{
    float: right ;
    margin-top: 60px;
    width: 80px;
    height: 80px;
}
.card-logo2{
    float: right ;
    margin-top: 20px;
    width: 70px;
    height: 70px;
}
.card-logo3{
    float: right ;
    margin-top: 80px;
    width: 70px;
    height: 70px;
}
.card-logo4{
    float: right ;
    margin-top: 30px;
    width: 70px;
    height: 70px;
}


/****************************** CARD ICONS END ********************************/
/****************************** SECTION 2 END ********************************/

/****************************** SECTION 3 START ********************************/
.section3 {
    background-color: black;
    grid-area: section3;
}
.FAQs{
    border: none;
    padding: 10px 0 10px 120px;
    color: white;
    background-color: black;
    font-weight: 900;
    font-size: 1.8rem;
}
.questions-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: center;
    
    padding: 10px 0 10px 0 ;
}
.q{
    display: flex;
    width: 83%;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;
    height: 90px;
    margin: 5px;
    background-color: rgb(59, 58, 58);
}
.q label{
    color: white;
    font-size: 2rem;
    font-weight: 400;
}
.q img{
    height: 90px;
    width: 90px;
}

/****************************** SECTION 3 END ********************************/
/****************************** SECTION 4 START ********************************/
.section4 {
    background-color: black;
    grid-area: section4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
/****************************** SECTION 4 END ********************************/

/****************************** SECTION 5 (FOOTER) START ********************************/
.section5 {
    background-color: black;
    grid-area: section5;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: left;
}
.ques{
    margin: 0px 0 20px 100px;
    display: block;
    font-size: 1.3rem;
    color: white;
}
.all-points{
    display: flex;
    width: 100%;
    height: fit-content;
    /* border: 2px solid fuchsia; */
    justify-content: space-around;
}
.foot-box{
    list-style: none;
}

.foot-box li{
    margin: 20px;
}
.foot-box li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.language{
    border: 1px solid white;
    color: white;
    padding: 2px 15px 2px 25px;
    margin: 30px 0px 300px 100px;
    align-content: center;
    width: fit-content;
    height: fit-content;
    font-size: 1.3rem;
    background-color: black;

}
/****************************** SECTION 5 (FOOTER) END ********************************/

.section6 {
    background-color: salmon;
    grid-area: section6;
}